.product img{
               width: 286px;
               height: 286px;
               border-radius: 10px;
               margin: 7px;
}
.product{
          border: 1px solid rgb(220, 14, 189);   
          border-radius: 8px; 
          position: relative;

}
.product-name{
               font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
letter-spacing: 0.0015em;
}
.product-info{
               margin-left: 14px;
}
.btn-cart{
               background-color:#FFE0B3 ;
               border: 1px solid #95a0A7;
               border-radius: 0 0 8px 8px;
               width: 100%;
               position: absolute;
               bottom: 0;
}
.btn-cart:hover{
               background-color: orange;
}